body{
    font-family: 'Times New Roman';
    font-size: 150%;
}

header{
    background-color:cadetblue;
}

/* nav li {
  Your existing styling for li elements
} */

nav{
    display: inline-block;
    width: 80%;
}

nav img{
    width: 10%;
}

main{
    background-color: bisque;
}

footer{
    background-color: teal;
}

li{
    display: inline;
    width: 50px;
}
 
h1{
    font-family:'Gill Sans';
    text-align: center;
    color: lightsalmon;
}

p{
    line-height: normal;
}

.grid {
      display: grid;
      grid-template-columns: 40% 40%;
      justify-content: space-between; 
      align-items: center; 
      row-gap: 20px; 
}

.grid img {
  width: 100%;
}

.flex {
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-between; 
}

.image-container {
    text-align: right;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
  }
  
  .image-container img {
    display: inline-block;
    margin-left: 35px;; 
    max-width: 100%; 
    height: auto; 
  }

  figure {
    margin-bottom: 20px;
    text-align: left;
  
  figure img {
    max-width: 100%;
    height: auto;
  }
  
  caption {
    font-size: 14px;
  }
  